body {
  background-image: url("../../web/img/fond.jpg");
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 950px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 5px 95px #615644;
}

.container_img{
    width: 100%;
    height: 250px;
}

.img_logo {
  position: absolute;
  z-index: 200;
  width: 240px;
  height: auto;
}

.img_bandeau {
  position: relative;
  width: 100%;
  height: 100%;
}

figure{
  display: inline-block;
  margin-top: 5%;
  margin-left: 7%;
  width : 40%;
}

figure figcaption{
  margin-top: 5%;
  font-size: large;
  text-align: center;
}

figure img{
  box-shadow: 0px 2px 15px #615644;
  width: 100%;
  height: 100%;
}

.container2{
  margin: 0 auto;
  width: 75%;
}

.heures_ouverture{
    display : inline-block;
    margin-top: 3%;
    margin-left: 35%;
    text-align: justify;
}

span{
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-size: large;
    text-align: center;
}

nav{
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    background-color: #007cc2;
}

nav a{
    display:inline-block;
    margin-left:5px;
    padding: 5px 10px;
    text-decoration:none;
    font-size: x-large;
    color: white;
}

nav li{
    display: inline;
}

.mentions_legales{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    text-align: center;
    background-color: #007cc2;
    color:  white;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
}

a:hover, a:focus{
    text-decoration:underline;
}

.container_partenaire{
    width: 33%;
    margin-left: 10%;
    margin-top: 5%;
    display: inline-block;
    box-shadow: 0px 5px 15px black;
}

.container_partenaire p{
    font-size: medium;
}

.child_partenaire1, .child_partenaire2{
    display: inline-block;
}

.child_partenaire1{
    margin-top: 2%;
    width: 38%;
    vertical-align: top;
}

.child_partenaire1 .plus{
    color: black;
    margin-top: 15%;
    margin-left: 30%;
}

.child_partenaire2{
    padding: 1% 1% 0% 1%;
    width: 58%;
}

.child_partenaire2 .image_partenaire{
    width: 100%;
}

.plus:hover{
    cursor: pointer;
}