body {
  background: url('http://www.fleursdesflots.fr/img/fond/fond.jpg');
  background-repeat: repeat;
}

.container {
  width: 950px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 5px 95px #615644;
}

.container_img{
    width: 100%;
    height: 250px;
}

.img_logo {
  position: absolute;
  z-index: 200;
  width: 240px;
  height: auto;
}

.img_bandeau {
  position: relative;
  width: 100%;
  height: 100%;
}

figure{
  display: inline-block;
  margin-top: 5%;
  margin-left: 7%;
  width : 40%;
}

figure figcaption{
    font-size: large;
  text-align: center;
}

figure img{
  width: 100%;
  height: 100%;
}

.container2{
  margin: 0 auto;
  width: 75%;
}

.heures_ouverture{
    display : inline-block;
    margin-top: 2%;
    margin-left: 35%;
    text-align: justify;
}

span{
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-size: large;
    text-align: center;
}

nav{
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    background-color: #333452;
}

nav a{
    display:inline-block;
    margin-left:5px;
    padding: 5px 10px;
    text-decoration:none;
    font-size: x-large;
    color: white;
}

nav li{
    display: inline;
}

.mentions_legales{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    text-align: center;
    background-color: #333452;
    color:  white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover, a:focus{
    text-decoration:underline;
}
