body {
  background: url('http://www.fleursdesflots.fr/img/fond/fond.jpg');
  background-repeat: repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}
